/* base class */

@import 'variables';
@import 'mixin';

.flex {
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
}

.hz-fadein {
  animation: hz-fadein 3s;
  animation-delay: 3s;
}

@keyframes hz-fadein {
  0% {
    opacity: 0;
  }

  75% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.hz-slide-in {
  animation: hz-slide-in 500ms;
  animation-delay: 0;
  position: relative;
  overflow: hidden;
}

@keyframes hz-slide-in {
  0% {
    left: 100%;
  }

  100% {
    left: 1;
  }
}

.hz-slide-out {
  animation: hz-slide-out 500ms;
  animation-delay: 0;
  position: relative;
  overflow: hidden;
  height: 0;
}

@keyframes hz-slide-out {
  0% {
    left: 0;
    height: 100%;
  }

  100% {
    left: 100%;
    height: 0%;
  }
}

// 字体 和字号
.ff-pfr {
  @include ff-pfr
}

.ff-pfm {
  @include ff-pfm
}

.ff-pfs {
  @include ff-pfs
}

.ff-pfl {
  @include ff-pfl
}

.ff-dab {
  font-family: 'DINAlternate-Bold';
  letter-spacing: px2rem(2px);
}

.fw-3 {
  font-weight: 300;
}

.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-b {
  font-weight: bold;
}

.fw-n {
  font-weight: normal;
}

.number {
  font-family: 'DINAlternate-Bold';
  letter-spacing: px2rem(2px);
  font-weight: 500;
}

.numbers {
  input {
    font-family: 'DINAlternate-Bold';
    letter-spacing: px2rem(2px);
    font-weight: 500;
  }
}

.v-m {
  vertical-align: middle;
}

.v-t {
  vertical-align: top;
}


.clearfix {
  @include clearfix
}

.ellipsis {
  @include ellipsis
}

.ellipsis-lines {
  @include ellipsis-lines
}

.word-break {
  @include word-break
}

// 文字对齐
.tl {
  @include text-align(left)
}

.tc {
  @include text-align
}

.tr {
  @include text-align(right)
}

.tj {
  @include text-align(justify)
}

.disabled {
  @include disabled($color_ccc, $color_666)
}

.fixed {
  @include fixed
}

.pos-r {
  @include position(relative);
}

.pos-a {
  @include position(absolute);
}

.pos-f {
  @include position(fixed);
  max-width: px2rem($maxWidth);
}

.pos-s {
  @include position(static);
}

.hide {
  display: none !important;
}

.ib {
  @include inline-block
}

.justify {
  @include justify;

  .flex-item {
    flex: 1;
  }

  &.ac {
    align-items: center;
  }
}

.adjust11 {
  @include font-size(22px);
  transform: scale(0.92);
}

.adjust10 {
  @include font-size(20px);
  transform: scale(0.83);
}

.opacity10 {
  @include opacity(10)
}

.opacity20 {
  @include opacity(20)
}

.opacity30 {
  @include opacity(30)
}

.opacity40 {
  @include opacity(40)
}

.opacity50 {
  @include opacity()
}

.opacity60 {
  @include opacity(60)
}

.opacity70 {
  @include opacity(70)
}

.opacity80 {
  @include opacity(80)
}

.opacity90 {
  @include opacity(90)
}

.opacity100 {
  @include opacity(100)
}

// margin
@include margin-c(ml, left, 4px);
@include margin-c(mr, right, 4px);
@include margin-c(mt, top, 4px);
@include margin-c(mb, bottom, 4px);

@include margin-c(ml, left, 8px);
@include margin-c(mr, right, 8px);

@include margin-c(mt, top, 16px);
@include margin-c(mb, bottom, 16px);
@include margin-c(ml, left, 16px);
@include margin-c(mr, right, 16px);

@include margin-c(mt, top, 24px);
@include margin-c(mb, bottom, 24px);
@include margin-c(ml, left, 24px);
@include margin-c(mr, right, 24px);


@each $class,
$name in (mlr, (left, right)) (mtb, (top, bottom)) (mt, top) (mb, bottom) (ml, left) (mr, right) {
  $i: 0;

  @while $i<18 {
    $n: $i*10px;
    @include margin-c($class, $name, $n);

    @if $i<10 {
      $i: $i +1;
    }

    @else {
      $i: $i +2;
    }
  }
}

@include margin-c(mt, top, 200px);

// padding

@include padding-c(pt, top, 16px);
@include padding-c(pb, bottom, 16px);
@include padding-c(pl, left, 16px);
@include padding-c(pr, right, 16px);
@include padding-c(pt, top, 24px);
@include padding-c(pb, bottom, 24px);
@include padding-c(pl, left, 24px);
@include padding-c(pr, right, 24px);

@each $class,
$name in (plr, (left, right)) (ptb, (top, bottom)) (pt, top) (pb, bottom) (pl, left) (pr, right) {
  $i: 0;

  @while $i<18 {
    $n: $i*10px;
    @include padding-c($class, $name, $n);

    @if $i<10 {
      $i: $i +1;
    }

    @else {
      $i: $i +2;
    }
  }
}


.pl40-i {
  // @include padding(left, 40px,  !important);
  padding-left: 20px !important;
}

// radius
@include radius-c(4px);
@include radius-c(8px);
@include radius-c(16px);
@include radius-c(24px);
@include radius-c(36px);

// border
.bd0 {
  border: 0;
}

@include border-c(bl, left, 0px);
@include border-c(bt, top, 0px);
@include border-c(br, right, 0px);
@include border-c(bb, bottom, 0px);
@include border-c(bl, left, 2px);
@include border-c(bt, top, 2px);
@include border-c(br, right, 2px);
@include border-c(bb, bottom, 2px);
// font-size 24-38
$i: 2;

@while $i<10 {
  $fn: $i+10px;
  @include font-size-c($fn*2);
  $i: $i + 1;
}

@include font-size-c(20px);
@include font-size-c(22px);
@include font-size-c(40px);
@include font-size-c(44px);
@include font-size-c(48px);
@include font-size-c(52px);
@include font-size-c(56px);
@include font-size-c(64px);
@include font-size-c(68px);
@include font-size-c(72px);
@include font-size-c(88px);
//z-index
@include zindex-c(-1);
$i: 0;

@while $i<7 {
  @include zindex-c($i*5);
  $i: $i + 1;
}

.z999 {
  z-index: 999;
}

.z1000 {
  z-index: 1000;
}

.z9999 {
  z-index: 9999;
}

.fadein {
  animation: 0.3s fadein 0s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.fadein-left {
  animation: 0.3s fadein-left 0s;
}

@keyframes fadein-left {
  0% {
    left: 100%;
  }

  50% {
    left: 50%;
  }

  100% {
    left: 0;
  }
}

//width
.w150 {
  @include width(150px);
}

//height
.h-p100 {
  height: 100%;
}

.h-l-112 {
  @include height-line(112px);
}

.h-l-96 {
  @include height-line(96px);
}

.h-l-88 {
  @include height-line(88px);
}

.h-l-80 {
  @include height-line(80px);
}

.h-l-60 {
  @include height-line(60px);
}

.h-l-40 {
  @include height-line(40px);
}

//float
.fl {
  float: left;
}

.fr {
  float: right;
}

// 多行行高
.lh-5 {
  line-height: 1.5;
}

.hl96 {
  @include height-line(96px);
}

//阴影
.b-shadow-0280 {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.04);
}

.o-h {
  overflow: hidden;
}

.o-h-x {
  overflow-x: hidden;
}

.o-h-y {
  overflow-y: hidden;
}

.o-a {
  overflow: auto;
}

.o-a-x {
  overflow-x: auto;
}

.o-a-y {
  overflow-y: auto;
}

.line {
  &::before {
    @extend .before;
  }
}

.line-after {
  &::after {
    @extend .before;
  }
}

.placeholder-28 {
  input::-webkit-input-placeholder {
    @include font-size(28px);
  }
}

.tag {
  @include height-line(28px);
  @include padding((left, right), 8px);
  @include padding((top, bottom), 4px);
  @include radius(4px);
}

.hz-keyboard-fixed-hidden {
  z-index: 1001;
  max-width: px2rem($maxWidth);
}

.w100 {
  width: 100%;
}

.b0 {
  bottom: 0;
}

.r0 {
  right: 0;
}

.t0 {
  top: 0;
}

.l0 {
  left: 0;
}

//bg color

@include bg-color-c(fff, $color_fff);
@include bg-color-c(orange, $color_orange);
@include bg-color-c(green, $color_green);
@include bg-color-c(E2F7ED, $color_E2F7ED);
@include bg-color-c(EBF9F4, $color_EBF9F4);

@include bg-color-c(gray, $color_bg_gray);
@include bg-color-c(F5F5F5, $color_F5F5F5);
@include bg-color-c(F7F7F8, $color_F7F7F8);
@include bg-color-c(FAFAFA, $color_FAFAFA);
@include bg-color-c(FFEEEC, $color_FFEEEC);
@include bg-color-c(FFF5EE, $color_FFF5EE);
@include bg-color-c(FFF7ED, $color_FFF7ED);
@include bg-color-c(EAF9F3, $color_EAF9F3);
@include bg-color-c(FEF3F0, $color_FEF3F0);


// color
@include color-c(000, $color_000);
@include color-c(333, $color_333);
@include color-c(666, $color_666);
@include color-c(999, $color_999);
@include color-c(ccc, $color_ccc);
@include color-c(fff, $color_fff);
@include color-c(green, $color_green);
@include color-c(orange, $color_orange);
@include color-c(black, $color_black);
@include color-c(gray, $color_gray);
@include color-c(gray-sm, $color_gray_sm);
@include color-c(red, $color_red);
@include color-c(placeholder, $color_placeholder);

@include color-c(272A2A, $color_272A2A);
@include color-c(4D5053, $color_4D5053);
@include color-c(A4A4AD, $color_A4A4AD);
@include color-c(F5F5F5, $color_F5F5F5);
@include color-c(E5E5E5, $color_E5E5E5);
@include color-c(FAFAFA, $color_FAFAFA);
@include color-c(FEF3F0, $color_FEF3F0);
@include color-c(FF533F, $color_FF533F);
@include color-c(579F7C, $color_579F7C);
@include color-c(00C27A, $color_00C27A);
@include color-c(0FB576, $color_0FB576);
@include color-c(FF7900, $color_FF7900);


/*新增颜色*/
@include color-c(C9C9CD, $color_C9C9CD);
@include color-c(1BC573, $color_1BC573);
@include color-c(8D8D94, $color_8D8D94);
@include color-c(C0C0C4, $color_C0C0C4);
@include color-c(FF8125, $color_FF8125);

@include color-c(586F89, $color_586F89);

.center {
  text-align: center
}



.pl0 {
  padding-left: 0 !important;
}

.b-line {
  position: relative;
}

.b-line:before {
  content: "";
  position: absolute;
  width: 200%;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: .5px solid $color_line;
  height: 1px;
  transform-origin: 0 0;
  transform: scale(0.5, 0.5);
  box-sizing: border-box;
}

.mb8 {
  margin-bottom: px2rem(8px)
}

.underline {
  text-decoration: underline
}

.delline {
  text-decoration: line-through
}
